.header{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 85px;
    position: sticky;
    top: 0;
    background-color: #0a0a0a;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 20px;

    box-shadow: 0 1px 5px 2px rgba(255, 255, 255, 0.4);


}

.title{
    font-size: 55px;
    white-space:nowrap;
    margin-left: 20px;
    color: #68dcfc;
    text-decoration: none;
}

.input{
    margin-right: 35px;
    padding: 4px 4px;
    background-color: white;
    background-image: url('../../assets/search_img.svg');
    background-position: -44px 4px;
    background-repeat: no-repeat;
    background-size:70% 70%;
    color:#0a0a0a;
}

.input:focus{
    background-image:none;

}

.form{
    display: flex;
    flex-direction: row-reverse;
}

.submit_btn{
    color: #0a0a0a;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 18px;
}