.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-left: 35px;
}

.link{
    margin: 0 30px;
    text-decoration: none;
    color: #68dcfc;
    font-size: 30px;
}
.link:hover{
    color: #DADDD8;
}

